{% extends "base.html" %}
{% block content %}
<h1>Hi, Dr. {{ current_user.username }}!</h1>
<form action="" method="post">
	{{ form.hidden_tag() }}
	<p>
		{{ form.post.label }}<br>
		{{ form.post(cols=32, rows=4) }}<br>
		{% for error in form.post.errors %}
		<span style="color: red;">[{{ error }}]</span>
		{% endfor %}
	</p>
	<p>{{ form.submit() }}</p>
</form>
{% for post in posts %}
<p>
	<a href="{{ url_for('user',username=post.author.username) }}">Dr. {{ post.author.username }}</a>
	says: <b>
		<a href="{{ url_for('post_page',id=post.id) }}">{{ post.body }}</a>
		at :{{ post.time }}</b>
</p>
{% endfor %}
{% endblock %}