<html>

<head>
	{% if title %}
	<title>{{title}} - Doctor's Net</title>
	{% else %}
	<title>Wecome to Doctor's Net </title>
	{% endif %}
</head>

<body>
	<div>
		Doctor's Net :
		{% if current_user.is_anonymous %}
		<a href="{{ url_for('index') }}">Home</a>
		{% else %}
		<a href="{{ url_for('index') }}">My Feed</a>
		{% endif %}
		{% if current_user.is_anonymous %}
		<a href="{{ url_for('login') }}">Login</a>
		{% else %}
		<a href="{{ url_for('user', username=current_user.username) }}">Profile</a>
		<a href="{{ url_for('logout') }}">Logout</a>
		{% endif %}
	</div>
	<hr>
	{% with messages = get_flashed_messages() %}
	{% if messages %}
	<ul>
		{% for message in messages %}
		<li>{{ message }}</li>
		{% endfor %}
	</ul>
	{% endif %}
	{% endwith %}
	{% block content %}{% endblock %}
</body>

</html>